.gallerySection {
  background-color: ivory;
}
/* вынесем набор часто используемых свойств 
в отдельный селектор */
.flex-rw {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  grid-template-columns: inherit;
  margin: 0px auto 30px;
}
/* используем composes - аналог миксинов */
.galleryList {
  composes: flex-rw;
  align-items: center;
}
